body {
    padding: 0;
    margin: 0;
}
.layout-positioner {
    width: 1200px;
    margin: 0 auto;
}
.header-green-line {
    min-height: 22px;
    background-color: #04e4a2;
}
.logo-and-contactus {
    min-height: 78px;
    background-color: #e94643;
}
.logo {
    float: left;
    width: 600px;
    margin: 16px 0 0 152px;
    font-size: 35px;
    color: white;
}
.contact-us {
    margin: 26px 2px 0 0;
    float: right;
    font-size: 16px;
    text-transform: uppercase;
}
.contact-us a:link{
    display: block;
    height: 21px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #fdd835;
}
.contact-us a:visited{
    display: block;
    height: 21px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #fdd835;
}
.contact-us a:hover{
    display: block;
    height: 21px;
    font-weight: bold;
    color: #fdd835;
    text-decoration: none;
    border-bottom: 3px solid #fdd835;
}
.contact-us a:active{
    display: block;
    height: 21px;
    font-weight: bold;
    color: #fdd835;
    text-decoration: none;
    border-bottom: 3px solid #fdd835;
}
.content-and-phone-container {
    min-height: 583px;
    background-color: #ef5350;
}
.phone-container {
    float: left;
    width: 600px;
}
.clearfix::after {
    content: "";
    display: table;
    clear:both;
}
.content-container {
    margin-left: 600px;
    padding-top: 182px;
}
.lets-talk-form {
    float: right;
    width: 600px;
}
.copyright {
    float: left;
    width: 600px;
}
.email {
    margin-left: 600px;
}
.lines {
    position: relative;
    top: -914px;
    left: -570px;
    z-index: 10;
}
.phone {
    position: relative;
    top: 64px;
    left: 116px;
    z-index: 100;
}
.phone-body {
    width: 388px;
    height: 814px;
    background-color: #100c0c;
    border-radius: 59px;
}
.phone-camera {
    position: relative;
    top: 33px;
    left: 185px;
    width: 17px;
    height: 17px;
    background-color: #ef5350;
    border-radius: 10px;
}
.phone-dynamic {
    position: relative;
    top: 52px;
    left: 161px;
    width: 63px;
    height: 7px;
    background-color: #ef5350;
    border-radius: 10px;
}
.phone-button {
    position: relative;
    top: 106px;
    left: 159px;
    width: 59px;
    height: 59px;
    border: 5px solid white;
    border-radius: 40px;
}
.phone-screen {
    position: relative;
    top: 91px;
    left: 28px;
}
.content-header {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    padding-left: 32px;
}
.content-info {
    font-size: 18px;
    color: white;
    width: 523px;
    margin: 26px 0 0 32px;
}
.button-knowmore {
    margin: 55px 0 0 366px;
}
.button-knowmore a:link{
    display: block;
    font-size: 18px;
    padding: 15px 0 0 22px;
    height: 38px;
    width: 144px;
    background-color: #04e4a2;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    color: white;
}
.button-knowmore a:visited{
    color: white;
}
.button-knowmore a:hover{
    color: #04e4a2;
    background-color: white;
}
.button-knowmore a:active{

}