section.info
    .info__header We design and build
    .info__header beautiful web & mobile apps
    p.info__content You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality. - Walt Disney
    .info__button
        a(href="/mock-address/change-me") Know more