.phone
  position relative
  top 64px
  left 116px
  z-index 80
  &:after
    content ''
    display block
    position relative
    top -731px
    left -847px
    z-index -1
    border-bottom 83px solid #04e4a2
    border-left 20px solid transparent
    border-right 35px solid transparent
    height 0
    width 1417px
    transform rotate(0.655rad)
  &__top-body
    width 388px
    height 519px
    background-color #100c0c
    border-top-left-radius 59px
    border-top-right-radius 59px
    &:after
      content ''
      display block
      position relative
      top -492px
      left -837px
      z-index -1
      border-bottom 83px solid #69f0ae
      border-left 20px solid transparent
      border-right 35px solid transparent
      height 0
      width 1417px
      transform rotate(0.655rad)
  &__bottom-body
    width 388px
    height 295px
    background-color #1d1d1d
    border-bottom-left-radius 59px
    border-bottom-right-radius 59px
  &__camera
    position relative
    top 33px
    left 185px
    width 17px
    height 17px
    background-color #ef5350
    border-radius 10px
  &__dynamic
    position relative
    top 52px
    left 161px
    width 63px
    height 7px
    background-color #ef5350
    border-radius 10px
  &__button
    position relative
    top 106px
    left 159px
    width 59px
    height 59px
    border 5px solid white
    border-radius 40px
  &__screen
    position relative
    top 91px
    left 28px