mixin phone()
    .phone
        .phone__top-body
            .phone__camera
            .phone__dynamic
            .phone__screen
                img(src="./src/components/phone/img/photo-disney.png", alt="Phone image")
            .phone__button
        .phone__bottom-body
