.main
  min-height 583px
  background-color #ef5350
  @media only screen and (max-width 1242px)
    min-height 0
    padding 20px 0 20px 0
  &__phone-container
    float left
    width 502px
    height 583px
    @media only screen and (max-width 1242px)
      display none
  &__content
    margin-left 600px
    padding-top 182px
    @media only screen and (max-width 1242px)
      padding 0
      width 600px
      margin 0 auto
    @media only screen and (max-width 640px)
      width 90%