.header
  border-top 22px solid #04e4a2
  position relative
  z-index 100
  &__content
    position relative
    min-height 78px
    background-color #e94643
    z-index 100
  &__logo
    float left
    width 600px
    margin 16px 0 0 152px
    font-size 35px
    color white
    @media only screen and (max-width 1242px)
      margin 15px 0 0 0
      width 158px
      font-size 35px
      color white
  &__contact-us
    margin 26px 2px 0 0
    float right
    font-size 16px
    text-transform uppercase
    @media only screen and (max-width 1242px)
      margin 26px 0 0 0
      width 110px
      font-size 16px
      text-transform uppercase
    & a
      &:link
        display block
        height 21px
        color white
        text-decoration none
        border-bottom 3px solid #fdd835
      &:visited
        display block
        height 21px
        color white
        text-decoration none
        border-bottom 3px solid #fdd835
      &:hover
        display block
        height 21px
        color #fdd835
        text-decoration none
        border-bottom 3px solid #fdd835
      &:active
        display block
        height 21px
        color #fdd835
        text-decoration none
        border-bottom 3px solid #fdd835