mixin header()
    header.header
        .header__content
            .layout-positioner
                .wrapper
                    .header__logo indipixel
                    .header__contact-us
                        a(href="/mock-address/change-me") Contact us
