.footer
  &__copyright
    float left
    font-weight 300
    width 183px
    color #636363
    @media only screen and (min-width 1242px)
      width 517px
      padding 2px 0 0 115px
  &__email-part
    float right
    font-weight 300
    width 232px
    @media only screen and (min-width 1242px)
      margin-right 335px
  &__email
    font-weight 300
    display inline-block
    vertical-align middle
    padding 0 0 0 18px
    text-decoration none
    color #636363

.mail-icon
  vertical-align middle