.footer
  &__copyright
    float left
    width 517px
    padding 2px 0 0 115px
    color #636363
    @media only screen and (max-width 1242px)
      width 183px
      padding 0
  &__email-part
    float right
    width 232px
    margin-right 335px
    @media only screen and (max-width 1242px)
      margin 0
      padding 0
  &__email
    display inline-block
    vertical-align middle
    padding 0 0 0 18px
    text-decoration none
    color #636363

.mail-icon
  vertical-align middle