footer.footer
    .layout-positioner
        .wrapper
            .footer__copyright &copy; 2015 indipixel design
            .footer__email-part
                a(href="mailto:contact@yourmail.com")
                    img(class="mail-icon" src="./src/components/footer/img/mail-icon.png" alt="Mail icon")
                    .footer__email contact@yourmail.com
