doctype html
html
    head
        meta(charset="utf-8")
        meta(name="keywords" content="indiepixel web mobile apps applications")
        meta(name="description" content="Indiepixel main page")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title indipixel
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    body
        .main
            include components/header/header.pug
            .content
                .layout-positioner
                    .content__phone-container
                        include components/phone/phone.pug
                    include components/info/info.pug
            .layout-positioner
                include components/lets-talk/lets-talk.pug
        include components/footer/footer.pug